body {
    font-family: Arial;
    text-align: center;
    background: #f0f0f0;
}

.card {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}
